.menu-item {
    display: flex;
    align-items: center;
    width: 48%;
    margin-top: 50px;
}

.menu-img-container {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-content {
    display: flex;
    align-items: center;
    position: relative;
    flex-grow: 1;
}

.small-line {
    width: 30px;
    height: 2px;
    background-color: #bab3a6;
    margin: 0 10px;
}

.menu-name {
    background: #1a1814;
    position: relative;
    z-index: 2;
    padding: 0 10px;
    font-weight: 600;
    color: #cda45e;
}

.separator-line {
    flex-grow: 1;
    height: 2px;
    background-color: #bab3a6;
    margin-left: 10px;
}

/* Pop-up Image Styles */
.popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    border-radius: 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-item {
        width: 100%;
    }

    .menu-img-container {
        width: 60px;
        height: 60px;
    }

    .small-line {
        display: block;
    }

    .menu-name {
        font-size: 14px;
    }

    .separator-line {
        display: block;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .menu-img-container {
        width: 50px;
        height: 50px;
    }

    .small-line {
        display: block;
        width: 30px;
        height: 2px;
    }

    .menu-name {
        font-size: 12px;
    }

    .separator-line {
        display: block;
        width: 100%;
    }
}
